@charset "utf-8";

body{
	background-color: #5DD000;
}
ul.ddmenu {
	margin:0px;
	padding:0px 0px 0px 30px;
    background-color: #cc0000;
}

ul.ddmenu li{
	width:125px;
	display:inline-block;
	list-style-type:none;
	position:relative;
}

ul.ddmenu a{
	background-color: #cc0000;
	color: white;
	line-height: 40px;
	text-align: center;
	text-decoretion: none;
	font-weight: bold;
	display: block;
	background-color:#2BD2FF
}

ul.ddmenu ul{
	display: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	
}

ul.ddmenu a:hover{
	background-color:#ffdddd;
	color: dd0000;
}

ul.ddmenu li:hover ul{
	display: block;
}